extends ../assoLayout.pug
block append scripts
  script(type='text/javascript', src='https://code.jquery.com/jquery-1.12.4.min.js')
  script(type='text/javascript', src='https://code.jquery.com/ui/jquery-ui-git.js')
  script(src="/js/asso/scholarship.js")
block append css
  link(href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css', rel='stylesheet', type='text/css')
  link(rel="stylesheet" href="/css/asso/home.css")
  link(rel="stylesheet" href="/css/asso/andamiro.css")
block append content
  .article(style="width:100%")
    h2 ìž¥í•™ê¸ˆ ì •ë³´ ê´€ë¦¬
    #page
    hr.line
    form#frm(action="/asso/assokakao/scholarship", method="post", enctype="multipart/form-data")
      ul#sortable
        -for(i=0;i<scholarship.length;i++)
          .card.eventcard
            table.table
              thead.thead-light
                tr
                  th(scope="col" colspan=3).eventcontent ìž¥í•™ê¸ˆ ìƒì„¸ë³´ê¸° TEXT
              tbody
                tr.cardContents                  
                  td.eventcontent(colspan=3)
                    textarea.form-control(type='text', name=`scholarship[${i}][3]`,rows="5", autocomplete="off")= scholarship[i].content
              thead.thead-light
                tr
                  th(scope="col" colspan=2).etitle ì¹´ë“œ ì œëª©/ì„¤ëª…/ì´ë¯¸ì§€
                  th(scope="col").eventorder ìˆœì„œ/ì‚­ì œ
              tbody
                tr.cardContents
                  td.etitle(colspan=2)
                    input.form-control(type="text" name=`scholarship[${i}][0]` autocomplete="off" value=scholarship[i].title placeholder="ì¹´ë“œì— í‘œì‹œë  ì œëª©")
                  td#eventorder.eventorder(rowspan=2)
                    input.form-control(type='number', name=`scholarship[${i}][5]`, autocomplete="off" readonly)
                tr
                  td(colspan=2)
                    input.form-control(type="text" name=`scholarship[${i}][1]` autocomplete="off" value=scholarship[i].description placeholder="ì¹´ë“œì— í‘œì‹œë  ì„¤ëª…")
                tr
                  td(colspan=2)
                    .custom-file
                      input#inputGroupFile01.custom-file-input(type='file', aria-describedby='inputGroupFileAddon01', name=`scholarship[${i}][2]`)
                      label.custom-file-label(for='inputGroupFile01' data-browse="ðŸ“‚")= scholarship[i].thumbnail
                        -if(!scholarship[i].thumbnail)
                          | ì¹´ë“œ ë° ìƒì„¸ë³´ê¸°ì‹œ í‘œì‹œë  ì´ë¯¸ì§€
                      - if(scholarship[i].thumbnail)
                        input(type="hidden", name=`scholarship[${i}][2]`, value=scholarship[i].thumbnail)
                  td.eventorder
                    input#id.form-control(type="hidden" value=scholarship[i].id name=`scholarship[${i}][6]`)
                    #pbt.btn.btn-primary(onclick="deleteitem(this)")
                      i.fas.fa-minus
              thead.thead-light
                tr
                  th(scope="col").ebtt ë²„íŠ¼ ìœ í˜•
                  th(scope="col").ebtn ë²„íŠ¼ ì´ë¦„
                  th(scope="col").ebtv ê°’
              tbody
                - for(var bti=0;bti<3;bti++)
                  tr.btr 
                    td.ebtt
                      select.custom-select.btype(name=`scholarship[${i}][4][${bti}][0]`)
                        option(value="null" selected=true) none
                        option(value="osLink" selected = scholarship[i].buttons[bti][0] == "osLink") ì›¹ ë§í¬
                        option(value="phone" selected = scholarship[i].buttons[bti][0] == "phone") ì „í™”
                    td.ebtn
                      input.form-control(type='text', name=`scholarship[${i}][4][${bti}][1]` value=scholarship[i].buttons[bti][1] autocomplete="off")
                    td.ebtv
                      input.form-control(type='text' name=`scholarship[${i}][4][${bti}][2]`, value=scholarship[i].buttons[bti][2] autocomplete="off")
    #pbt.btn.btn-success(onclick="complete();")
      i.fas.fa-check
    #pbt.btn.btn-danger(onclick="formplus();")
      i.fas.fa-plus