extends ../assoLayout.pug
block append scripts
block append css
  link(rel="stylesheet" href="/css/asso/home.css")
block append content
  .article
    - 
      if(!user.location) user.location = '정보가 없습니다.'
      if(!user.description) user.description = '정보가 없습니다.'
      if(!user.assoemail) user.assoemail = '정보가 없습니다.'
    h1 #{assocollege}학생회 [#{user.assoname}] 관리자 페이지
    .info
      h2 로고
        hr
        - if(!user.logo)
          h4 정보가 없습니다.
        -  else
          #logo
            img(src=user.logo)
    .info
      h2 위치
        hr
        h4 #{user.location}
    .info
      h2 설명
        hr
        h4(style="white-space: pre-line;") #{user.description}
    .info
      h2 기타정보
        hr
        h3 대표 이메일
          h5 #{user.assoemail}
        h3 대표 번호
          h5 #{user.assophone}
