#list
  table.table.table-striped
    thead.thead-light
      tr
        th(scope="col").id 번호
        th(scope="col").title 제목
        th(scope="col").auth 작성자
        th(scope="col").date 작성시간
        th(scope="col").like 좋아요
    -
      function passing_time(c) {
        var rt;
        if(c.dtime < 60) {
          rt = "방금";
        } else if(c.dtime >= 60 && c.dtime < 3600) {
          rt = parseInt(c.dtime/60) + "분 전";
        } else if(c.dtime >= 3600 && c.dtime < 86400) {
          rt = parseInt(c.dtime/3600)+"시간 전";
        } else if(c.dtime >= 86400 && c.dtime < 2419200) {
          rt = parseInt(c.dtime/86400)+"일 전";
        } else {
          rt = c.date
        } 
        return rt;
      }
    tbody
      - for(i=0;i<topics.length;i++)
        tr
          td.id= topics[i].id
          td.title
            a(href=`/commu/board/content?board=${board}&id=${topics[i].id}&page=${page}`)= topics[i].title
              span.comment [
                | #{topics[i].comment}]
          - if(topics[i].mode == 1)
            td.auth 익명
          - else if(topics[i].mode == 2)
            td.auth= topics[i].nickname
          - else
            td.auth= topics[i].name
          td.date= passing_time(topics[i])
          td.like= topics[i].lik
  -if(user.kakaoId)
    #write
      a.btn.btn-primary(href=`/commu/board/write?board=${board}`)
        i.fas.fa-pencil-alt
        |   글쓰기
  #page
    nav(aria-label='Page navigation example')
      ul.pagination
        - if(startPage > 5)
          li.page-item
            a.page-link(href=`/commu/board/list?board=${bid}&page=${(startPage-1)}`, aria-label='Back')
              span(aria-hidden='true') «
              span.sr-only Back
        - for(var idx=startPage;idx<=endPage;idx++){
          - if(idx == page)
            li.page-item.active
              a.page-link(href=`/commu/board/list?board=${bid}&page=${idx}`)= idx
          - else
            li.page-item
              a.page-link(href=`/commu/board/list?board=${bid}&page=${idx}`)= idx
        - }
        - if(endPage < totalPage)
          li.page-item
            a.page-link(href=`/commu/board/list?board=${bid}&page=${(endPage+1)}`, aria-label='Next')
              span(aria-hidden='true') »
              span.sr-only Next
