extends commuLayout.pug
block append scripts
  script(src="/js/autosize.min.js")
  script(src="/js/commu/content.js")
block append css
  link(rel='stylesheet', href='/css/commu/board.css')
  link(rel='stylesheet', href='/css/commu/content.css')
block append content
  -
    function passing_time(c) {
      console.log(c)
      var rt;
      if(c.dtime < 60) {
        rt = "방금";
      } else if(c.dtime >= 60 && c.dtime < 3600) {
        rt = parseInt(c.dtime/60) + "분 전";
      } else if(c.dtime >= 3600 && c.dtime < 86400) {
        rt = parseInt(c.dtime/3600)+"시간 전";
      } else if(c.dtime >= 86400 && c.dtime < 2419200) {
        rt = parseInt(c.dtime/86400)+"일 전";
      } else {
        rt = c.date
      } 
      return rt;
    }
  #article
    #title
      h1= topic.title
      hr
      - if(topic.mode == 1)
        h5 익명
          span
            i.far.fa-clock
            |  #{passing_time(topic)}
      - else if(topic.mode == 2)
        h5= topic.nickname
          span
            i.far.fa-clock
            |  #{passing_time(topic)}
      - else if(topic.mode == 3)
        h5= topic.name
          span
            i.far.fa-clock
            |  #{passing_time(topic)}
    #topiccontent !{topic.content}
    - if(user.kakaoId)
      #likebuttonarea
        button.btn.btn-primary(onclick='like("'+topic.pid+'", "'+user.id+'", "'+topic.authId+'", 1)')
          i.far.fa-thumbs-up
          | <br>추천
          | <br>#{topic.lik}
    - if(user.grade == 0)
      #answerbuttonarea
        button.btn.btn-secondary(onclick='deletetopic("'+topic.pid+'")')
          i.far.fa-trash-alt
          | <br>게시글 삭제
    hr.line
    #commentlist
      - for(var i=0;i<comments.length;i++)
        div(class=comments[i].recommentId?'comment reco':'comment')
          div(class=comments[i].authId==user.id?'commentid my':comments[i].authId==topic.authId?'commentid mas':'commentid')
            .commentidh
              - if(comments[i].authId==topic.authId)
                span 글쓴이
              - else
                span 익명
            .commentidt
            sapn= passing_time(comments[i])
          - if(!comments[i].content)
            .commentcontent
              p 삭제된 댓글입니다.
          - else
            .commentcontent #{comments[i].content}
          - if(user.kakaoId)
            .commentetc
              span.cbtn(onclick='like("'+comments[i].id+'", "'+user.id+'", "'+comments[i].authId+'", 2, this)')
                i.far.fa-thumbs-up
                span  #{comments[i].lik}
              - if(comments[i].recommentId)
                span.cbtn(onclick='recomment(this, "'+topic.pid+'", "'+user.id+'", "'+comments[i].authId+'", "'+comments[i].recommentId+'")')
                  i.far.fa-comments
                  |  답글
              - else
                span.cbtn(onclick='recomment(this, "'+topic.pid+'", "'+user.id+'", "'+comments[i].authId+'", "'+comments[i].id+'")')
                  i.far.fa-comments
                  |  답글
          - else if(user.grade==0)
            .commentetc
              span.btn
                i.far.fa-thumbs-up
                |   #{comments[i].lik}
              - if(user.grade==1)
                span.cbtn(onclick="deletecomment('"+comments[i].id+"')")
                  i.far.fa-trash-alt
                  |  삭제


    if(user.kakaoId)
      #maincomment.Reply_area_write
        .Reply_area_write_pg
          form#frm(name="frm" action='/commu/comment', method='post')
            input(type='hidden', name='uid', value=user.id)
            input(type='hidden', name='pid', value=topic.pid)
            textarea#tw_contents.petitionsReply_write.form-control(name='body', required='', placeholder='최대 100자까지 적을 수 있습니다.', onkeyup="len_chk()")
            input.submit.btn.btn-warning.form-control(type='button' value="등록" onclick='comment()')
  hr.line
  include boardList.pug