extends assoLayout.pug
block append scripts
  script(src="/js/asso/member.js")
block append css
  link(rel="stylesheet" href="/css/asso/home.css")
  link(rel="stylesheet" href="/css/asso/member.css")
block append content
  .article
    table#rentstatus.nowtable.table.table-striped
      thead.thead-light
        tr
          th(scope="col").username 아이디
          th(scope="col").name 이름
          th(scope="col").major 학과
          th(scope="col").pass 허가
          th(scope="col").del 탈퇴
      tbody
        - for(i=0;i<assouser.length;i++)
          tr.plusrow
            td.username= assouser[i].username
            td.name= assouser[i].name
            td.major= assouser[i].major
            td.pass
              - if(assouser[i].grade)
                | 허가 완료
              - else if(user.grade ==2 || user.grade == 3)
                button.btn.btn-success(onclick=`pass(${assouser[i].id});`) 허가
              - else
                | 권한없음
            td.del
              - if(user.grade ==2 || user.grade == 3)
                button.btn.btn-danger(onclick=`del(${assouser[i].id});`) 탈퇴
              - else
                | 권한없음




