extends assoLayout.pug
block append scripts
  script(src="/js/autosize.min.js")
  script(type='text/javascript', src='/js/asso/myinfo.js')
block append css
  link(rel="stylesheet" href="/css/asso/home.css")
block append content
  .article
    h3 임원계정만 수정 가능 
    hr
    form#frm(name="frm" action='/asso/home/myinfo', method='post', enctype="multipart/form-data")
      //- .input-group.mb-3
      //-   .input-group-prepend
      //-     span.input-group-text 아이디
      //-   input#username.form-control(name="username" value=user.username, disabled, aria-describedby="basic-addon1",autocomplete="off")
      //- .input-group.mb-3
      //-   .input-group-prepend
      //-     span.input-group-text 직위
      //-   -
      //-     if(user.grade == '1' || user.grade == '2') grade='임원';
      //-     else grade = '부원'
      //-   input#grade.form-control(type='text', value=grade,disabled, autocomplete="off")
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text 아이디
        input#username.form-control(name="username" value=user.username, disabled, aria-describedby="basic-addon1",autocomplete="off" )
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text(for="college") 소속 대학
        input#college.form-control(type='tex', value=user.college,disabled, autocomplete="off")
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text(style="color:red;") *
          span.input-group-text 이름
        - if(user.grade == '1' || user.grade == '2')
          input#name.form-control(type='text', name="assoname",value=user.assoname, autocomplete="off")
        - if(user.grade == '3')
          input#name.form-control(type='text', value=user.assoname, disabled, autocomplete="off")
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text 위치
        - if(user.grade == '1' || user.grade == '2')
          input#location.form-control(type='text', name="location",value=user.location, placeholder="예) 학생회관 326호(H236)", autocomplete="off")
        - if(user.grade == '3')
          input#location.form-control(type='text', value=user.location, disabled, autocomplete="off")
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text 설명
        - if(user.grade == '1' || user.grade == '2')
          textarea#description.form-control(type='text', name="description",rows="3", autocomplete="off")= user.description
        - if(user.grade == '3')
          textarea#description.form-control(type='text', disabled, rows="3", autocomplete="off")= user.description
      .input-group.mb-3
        .input-group-prepend
          span#inputGroupFileAddon01.input-group-text 로고 업로드
        .custom-file
          - if(user.grade == '1' || user.grade == '2')
            input#inputGroupFile01.custom-file-input(type='file', aria-describedby='inputGroupFileAddon01', name='logo')
            label.custom-file-label(for='inputGroupFile01')= user.logo
          - if(user.grade == '3')
            input#inputGroupFile01.custom-file-input(type='file', aria-describedby='inputGroupFileAddon01', disabled, name='logo')
            label.custom-file-label(for='inputGroupFile01') 불가능합니다.
          - if(user.logo)
            input(type="hidden", name="logopath", value=user.logo)
      p 로고는 1:1 혹은 1:2 사이즈로 여백없는 이미지로 올려주세요.
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text 대표메일
        - if(user.grade == '1' || user.grade == '2')
          input#assoemail.form-control(type="email", name="assoemail", value=user.assoemail,placeholder="연락받을 대표 메일", autocomplete="off")
        - if(user.grade == '3')
          input#assoemail.form-control(type="email", disabled, value=user.assoemail,placeholder="연락받을 대표 메일", autocomplete="off")
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text 학생회 대표번호
        - if(user.grade == '1' || user.grade == '2')
          input.form-control(type='tel', name="phone1", value=user.assophone[0], autocomplete="off",  maxlength="3")
          input.form-control(type='tel', name="phone2", value=user.assophone[1], autocomplete="off", maxlength="4")
          input.form-control(type='tel', name="phone3", value=user.assophone[2], autocomplete="off", maxlength="4")
        - if(user.grade == '3')
          input.form-control(type='tel', name="phone1", value=user.assophone[0], autocomplete="off",  maxlength="3", disabled)
          input.form-control(type='tel', name="phone2", value=user.assophone[1], autocomplete="off", maxlength="4", disabled)
          input.form-control(type='tel', name="phone3", value=user.assophone[2], autocomplete="off", maxlength="4", disabled)
      - if(user.grade == '1' || user.grade == '2')
        p
          input.btn.btn-success.form-control(type='button' value="수정하기" onclick='update()')
